@media(max-width:739px){
    #nav>li{
        display: block;
        position: relative;
        
    
    }
    #slider .text-content{
        margin-top: 46px;
        line-height: 25px;
        width: 100%;
    }
    #content .content-section .section-heading{
       
        letter-spacing: 2px;
       
    }
    #slider .text-content h3 {
       
        font-size: 15px;
    }

    #slider .text-content p {
        font-size: 12px;
    }
    #header{
        
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }
    .subnav{
        
        position: absolute;
        list-style: none;
       background-color: #000;
      
       padding: 0 30px;
        
    }
    .subnav>li>a{
        color: rgb(250, 249, 249) !important;
    }
    .content-section .member-item{
        width: 100%;
    }
    #content .members-list{
        display: block;
    }
    #content .members-list .member-img {
        width: 60%;
    }
    .places-list{
        display: block !important;
    }
    #contact .contact-items{
        display: block !important;
        width: 100% !important;
    }
    .s-col-full{
        width: 100% !important;
    }

    .display-block{
        display: block !important;
    }
    .padding-top-8{
        padding-top: 8px !important;
    }
 
}


/* pc  */
@media(min-width:1024px){
    .menu-btn{
        display: none;

    }
    
}
/* Tablet  */
@media(min-width:720px) and (max-width:1023px){
    .menu-btn{
        display: none;

    }
    
}

/* Tablet & mobile  */
@media (max-width: 1023px){
    .btn{
        padding: 15px 16px;

    }

    .contact-form .form-control{
        padding: 15px;
    }

    .social-list{
        font-size: 48px;
    }

    .copyright a {
        display: inline-block;
        padding: 12px;
    }
    .subnav>li>a{
        padding: 5px 12px;
    }
    
}